.popover{
    min-width: 21em;
}

.infolayer  {
    position: sticky !important;
    top: 0 !important;
    z-index: 1 !important;
}

/* @media screen and (max-width: 400px){
    .svg-container{
        height: 700px !important;
    }
}
 */
